src/main/resources/META-INF/soa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.tangp.com/schema/soa"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tangp.com/schema/soa"
 elementFormDefault="qualified" attributeFormDefault="unqualified">
 	<!-- 注册中心标签定义 -->
	<xsd:element name="registery">
		<xsd:complexType>
			<xsd:attribute name="address" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="protocol" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<!-- 客户端引用标签 定义-->
	<xsd:element name="reference">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="interface" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="loadbalance" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="protocol" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="cluster" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="retries" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>
 
 	<!-- 通信协议标签定义 -->
 	<xsd:element name="protocol">
 		<xsd:complexType>
 			<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
 			<xsd:attribute name="host" type="xsd:string"></xsd:attribute>
 			<xsd:attribute name="port" type="xsd:string"></xsd:attribute>
 			<xsd:attribute name="contextpath" type="xsd:string"></xsd:attribute>
 		</xsd:complexType>
 	</xsd:element>
 	<!-- 服务暴露标签定义 -->
 	<xsd:element name="service">
 		<xsd:complexType>
 			<xsd:attribute name="interface" type="xsd:string"></xsd:attribute>
 			<xsd:attribute name="ref" type="xsd:string"></xsd:attribute>
 			<xsd:attribute name="protocol" type="xsd:string"></xsd:attribute>
 		</xsd:complexType>
 	</xsd:element>

</xsd:schema>